/* блок */

.about-us {
  width: auto;
  margin: 0;
  padding: 0;

  background-color: #ffffff;
}

.about-us__wrapper {
  width: 260px;
  margin: 0 auto;
  padding: 0 30px;
  padding-top: 30px;
  padding-bottom: 15px;
}

@media (min-width: @tablet-width) {
  .about-us__wrapper {
    width: @tablet-width - 100px;
    padding: 0 50px;
    padding-top: 40px;
    padding-bottom: 5px;
  }
}

@media (min-width: @desktop-width) {
  .about-us__wrapper {
    width: @desktop-width - 450px;
    padding: 0 225px;
    padding-top: 80px;
    padding-bottom: 90px;
  }
}

.about-us__header {
  display: inline-block;
  width: 260px;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;

  color: @header-color;

  background-color: @background-color-main;
}

@media (min-width: @tablet-width) {
  .about-us__header {
    width: 335px;
    padding-bottom: 45px;

    font-size: 43px;
    line-height: 50px;
    letter-spacing: -0.7px;
  }
}

@media (min-width: @desktop-width) {
  .about-us__header {
    width: 525px;
    padding-bottom: 55px;

    font-size: 53px;
    line-height: 57px;
  }
}

.about-us__list {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;

  background-color: @background-color-main;

  list-style: none;
}

@media (min-width: @tablet-width) {
  .about-us__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  // устанавливается порядок для элементов списка
  .about-us__item:nth-child(1) {
    order: -6;
  }

  .about-us__item:nth-child(2) {
    order: -4;
  }

  .about-us__item:nth-child(3) {
    order: -2;
  }

  .about-us__item:nth-child(4) {
    order: -5;
  }

  .about-us__item:nth-child(5) {
    order: -3;
  }

  .about-us__item:nth-child(6) {
    order: -1;
  }
}

.about-us__item {
  display: inline-block;
  width: 260px;
  margin: 0;
  padding: 0;
  padding-top: 55px;
  padding-bottom: 28px;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 700;

  color: @header-color;

  background-color: @background-color-main;

  position: relative;

  .about-us__item-svg {
    position: absolute;
    top: 0;
    left: 0;

    fill: #63d1bb;

    &--eko {
      top: 2px;
      left: 8px;
    }

    &--price {
      top: 2px;
    }

    &--like {
      top: 6px;
      left: 8px;
    }

    &--clew {
      top: 3px;
      left: 5px;
    }

    &--rocket {
      top: 5px;
      left: -4px;
    }

    &--box {
      top: 3px;
      left: 3px;
    }
  }

  &:last-child {
    padding-bottom: 0;
  }
}


@media (min-width: @tablet-width) {
  .about-us__item {
    width: 333px;
    padding-bottom: 58px;

    font-size: 20px;
    line-height: 22px;
  }
}

@media (min-width: @desktop-width) {
  .about-us__item {
    width: 350px;
  }
}
