.about-us {
  display: block;
  width: 260px;
  margin: 0;
  padding: 0 30px;
  padding-top: 30px;
  padding-bottom: 25px;
}

.about-us__header {
  display: inline-block;
  width: 260px;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;

  color: @header-color;

  background-color: @background-color-main;

}

.about-us__list {
  display: flex;
  width: 260px;
  margin: 0;
  padding: 0;
  flex-direction: column;

  background-color: @background-color-main;

  list-style: none;
}

.about-us__item {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-top: 55px;
  padding-bottom: 30px;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;

  color: @header-color;

  background-color: @background-color-main;
}
