.catalog {
  width: auto;
  margin: 0;
  padding: 0;

  background-color: @background-color-main;
}

.catalog__wrapper {
  display: flex;
  width: 260px;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 0;

  flex-direction: column;

  background-color: @background-color-main;
}

@media (min-width: @tablet-width) {
  .catalog__wrapper {
    width: @tablet-width - 100px;
    padding: 0 50px;
    padding-top: 77px;
    padding-bottom: 55px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__wrapper {
    width: @desktop-width - 100px;
    padding: 0 50px;
    padding-top: 132px;
    //padding-bottom: 60px;
  }
}

.catalog__list {
  display: flex;
  width: 260px;
  margin: 0 auto;
  padding: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: @background-color-main;

  list-style: none;
}

@media (min-width: @tablet-width) {
  .catalog__list {
    width: @tablet-width - 100px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .catalog__list {
    width: @desktop-width - 100px;
    padding: 0;

    flex-direction: row;
    justify-content: flex-start;
    // align-items: flex-start;
    align-items: stretch;

    flex-wrap: wrap;
  }
}

.catalog__item {
  display: flex;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;
  // padding-bottom: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;


  box-shadow: 0 0 3px 0 #ececec;

  // состояния
  &:hover .catalog__item-wrapper {
    box-shadow: 0 5px 10px #ececec;
  }

  &:active .catalog__item-wrapper {
    box-shadow: 0 0 5px #ececec;
  }
}

.catalog__item:last-child {
  padding-bottom: 0;
}

@media (min-width: @tablet-width) {
  .catalog__item {
    width: @tablet-width - 100px;
    padding: 0;
    margin-bottom: 53px;
    // padding-bottom: 30px;

    flex-direction: row;
    justify-content: flex-start;
  }

  .catalog__item:last-child {
    margin-bottom: 0;
    // padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .catalog__item {
    width: 315px;
    margin: 0;
    margin-left: 51px;
    margin-bottom: 60px;
    padding: 0;

    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .catalog__item:nth-child(3n+1) {
    margin-left: 0;
  }

  .catalog__item:last-child {
    margin-bottom: 60px;
  }
}

.catalog__item-wrapper {
  display: flex;
  padding: 0 30px;
  padding-bottom: 29px;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .catalog__item-wrapper {
    width: 335px;
    min-height: 335px;
    padding-bottom: 0;
    padding-left: 27px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__item-wrapper {
    width: 258px;
    min-height: 195px;
  }
}


/* блок с картикой товара */

.catalog__item-img-link {
  text-decoration: none;
  line-height: 0;
  font-size: 0;

  // // состояния
  // &:hover + .catalog__item-wrapper {
  //   box-shadow: 0 5px 10px #ececec;
  // }

  // &:active + .catalog__item-wrapper {
  //   box-shadow: 0 0 5px #ececec
  // }
}

.catalog__item-img {
  width: 260px;
  height: 195px;

  background-color: #ececec;
}

@media (min-width: @tablet-width) {
  .catalog__item-img {
    width: 335px;
    height: 335px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__item-img {
    width: 315px;
    height: 465px;
  }
}

/* блок с информацией для карточки товара */

.catalog__item-header-link {
  text-decoration: none;
}

.catalog__item-header {
  display: block;
  width: 200px;
  margin: 0;
  padding: 0;
  padding-top: 26px;
  padding-bottom: 5px;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  color: @header-color;

  background-color: @background-color-main;
}

@media (min-width: @tablet-width) {
  .catalog__item-header {
    width: 100%;
    padding-bottom: 6px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__item-header {
    padding-top: 24px;
    padding-bottom: 4px;
  }
}

.catalog__item-description {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 19px;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;

  color: @main-text-color;

  background-color: @background-color-main;
}

@media (min-width: @tablet-width) {
  .catalog__item-description {
    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__item-description {
    padding-bottom: 0;
  }
}

.catalog__to-cart {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 22px;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 200px;
    height: 2px;

    background-color: #ececec;
  }

  a {
    margin-right: -3px;
  }
}

@media (min-width: @tablet-width) {
  .catalog__to-cart {
    width: 267px;
    padding: 27px 0;
    padding-left: 5px;

    &::before {
      top: 2px;
      left: 6px;

      width: 200px;
      height: 2px;
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog__to-cart {
    width: 255px;
    padding: 27px 0;
    padding-left: 0;
  }
}

.catalog__item-price {
  display: block;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;

  color: @header-color;

  background-color: @background-color-main;
}


// состояния корзинки-логотипа

.catalog__to-cart-logo-svg {
  width: 21px;
  height: 18px;
  opacity: 0.3;
}

.catalog__to-cart-logo:hover .catalog__to-cart-logo-svg {
  fill: #63d1bb;
  opacity: 1;
}

.catalog__to-cart-logo:active .catalog__to-cart-logo-svg {
  fill: #63d1bb;
  opacity: 0.3;
}


@media (min-width: @tablet-width) {
  .catalog__to-cart {
    &::before {
      width: 265px;
    }
  }

  .catalog__item-price {
    font-size: 17px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__to-cart {
    &::before {
      width: 255px;
    }
  }
}
