.copyright {
  display: flex;
  width: 180px;
  margin: 0;
  padding: 12px 70px;
  // justify-content: space-between;
  // vertical-align: middle;
  // align-items: center;

  background-color: @background-color-footer;
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 185px; // сопоствить с логотипом в футере
    margin: 0;
    padding: 0;
    padding-right: 50px;
  }
}

.copyright__link {
  width: 185px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;

  text-decoration: none;

  &:hover .copyright__logo {
    fill: #46c1ae;
  }

  &:active .copyright__logo {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  display: block;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;

  color: @header-color;

  background-color: @background-color-footer;
}

.copyright__logo {
  padding-top: 5px;
  fill: #63d1bb;
}

@media (min-width: @tablet-width) {
  .copyright__text {
    margin-top: 23px;
  }
}
