.feedback {
  display: block;
  width: 260px;
  margin: 0;
  padding: 0 30px;
  padding-bottom: 40px;
}

.feedback__header {
  display: inline-block;
  width: 260px;
  margin: 0;
  padding: 0;
  padding-bottom: 25px;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;

  color: @header-color;

  background-color: @background-color-main;
}

.feedback__list {
  display: block;
  width: 260px;
  margin: 0;
  padding: 0;

  background-color: @background-color-main;

  list-style: none;
}

.feedback__item {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.feedback__text {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;

  color: @main-text-color;

  background-color: @background-color-main;
}

.feedback__user-name {
  display: block;
  margin: 0;
  padding: 0;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  color: @header-color;

  background-color: @background-color-main;
}

.feedback__user {
  display: block;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;

  color: @main-text-color;

  background-color: @background-color-main;
}
