.main-nav {
  //display: none; // временно скроем меню
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  background-color: @background-color-main;
}

/*
@media (min-width: @tablet-width) {
  .main-nav {
    display: none; // временно скроем меню
  }
}
*/
