.page-header {
  display: block;
  width: 3200px;
  margin: 0;
  padding: 0;

  background-color: @background-color-main;
}

.page-header__logo-img {
  display: block;
  width: 260px;
  margin: 0;
  padding: 0 30px;

  background-color: @background-color-main;
}
