.page-footer {
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: @background-color-footer;
}

.page-footer__wrapper {
  display: flex;
  width: 320px;
  margin: 0 auto;
  padding: 0;
  flex-direction: column;

  background-color: @background-color-footer;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    width: @tablet-width;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    min-height: 144px; // временно
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: @desktop-width;

    min-height: 144px; // временно
  }
}

.page-footer__logo {
  display: none;

  line-height: 0;
}

@media (min-width: @tablet-width) {
  .page-footer__logo {
    display: block;

    width: 180px; // сопоствить с блоком копирайт в футере
    margin: 0;
    padding: 0;
    padding-left: 50px;
  }
}
