.page-header {
  display: flex;
  flex-direction: column;

  background-color: transparent;
}

.page-header__logo {
  height: 80px;
  margin: 0 auto;
  padding: 0;
}

.page-header__logo-img {
  height: 80px;

  background-color: @background-color-main;
}

/*
@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
  }

  .page-header__logo {
    height: 90px;
  }
}
*/
