.produce-flow {
  width: auto;
  margin: 0;
  padding: 0;

  background-color: @background-color-main;
}

.produce-flow__wrapper {
  width: 260px;
  margin: 0 auto;
  padding: 0 30px;

  background-color: @background-color-main;
}

.produce-flow__wrapper-inner {
  display: flex;
  width: 260px;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: flex-start;

  background-color: @background-color-main;

  box-shadow: 0 0 1px 0 #ececec;

  position: relative;
}

@media (min-width: @tablet-width) {
  .produce-flow__wrapper {
    width: @tablet-width - 100px;
    margin: 0 auto;
    padding: 0 50px;
    padding-bottom: 65px;
  }

  .produce-flow__wrapper-inner {
    width: @tablet-width - 100px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .produce-flow__wrapper {
    width: @desktop-width - 100px;
    margin: 0 auto;
    padding: 0 50px;
    padding-bottom: 110px;
  }

  .produce-flow__wrapper-inner {
    width: @desktop-width - 100px;
    margin: 0;
    padding: 0;

    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.produce-flow__content-wrapper {
  display: flex;
  width: 260px;
  margin: 0 auto;
  padding: 0;
  flex-direction: column;
  align-items: flex-start;

  position: relative;
}

@media (min-width: @tablet-width) {
  .produce-flow__content-wrapper {
    width: @tablet-width - 100px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .produce-flow__content-wrapper {
    width: 350px - 120px;
    padding: 0 60px;
  }
}


.produce-flow__header {
  display: block;
  width: 260px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px + 150px; // для вставки видео
  padding-left: 90px;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  color: @header-color;

  background-color: @background-color-main;
}

.produce-flow__header-icon {
  position: absolute;
  top: 35px;
  left: 34px;

  fill: #63d1bb;
}

@media (min-width: @tablet-width) {
  .produce-flow__header {
    width: @tablet-width - 100px;
    padding-bottom: 30px;
    padding-left: 105px;

    font-size: 20px;
    line-height: 24px;
  }

  .produce-flow__header-icon {
    top: 25px;
    left: 40px;
  }
}

@media (min-width: @desktop-width) {
  .produce-flow__header {
    width: 100%;
    padding: 0;
    padding-top: 95px;
    padding-bottom: 50px;
  }

  .produce-flow__header-icon {
    top: 40px;
    left: 60px;
  }
}

.produce-flow__img-wrapper {
  margin: 0 auto;
  padding: 0;

  position: absolute;
  top: 108px;
  left: 0;

  line-height: 0;
  font-size: 0;

  background-color: #ececec;

  z-index: 2;
}

.produce-flow__img-play-icon {
  position: absolute;
  top: 40px; // (154px / 2) - (101px / 2);
  left: 80px; // (260px / 2) - (77px / 2);
}

.produce-flow__img-play-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.produce-flow__img-play-icon:active {
  transform: scale(0.8);
  cursor: pointer;
}


@media (min-width: @tablet-width) {
  .produce-flow__img-wrapper {
    position: relative;
    top: 0;
    left: 0;

    width: @tablet-width - 100px;
    height: 455px;
    margin: 0 auto;
    padding: 0;
  }

  .produce-flow__img-play-icon {
    top: 190px;
    left: 285px;
  }
}

@media (min-width: @desktop-width) {
  .produce-flow__img-wrapper {
    width: 683px;
    height: 455px;
    margin: 0;
    padding: 0;
  }
}


.produce-flow__text {
  display: block;
  width: 190px;
  margin: 0 auto;
  padding: 0;
  padding-top: 35px;
  padding-left: 30px;
  padding-right: 40px;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;

  color: @main-text-color;

  background-color: @background-color-main;
}

@media (min-width: @tablet-width) {
  .produce-flow__text {
    width: @tablet-width - 100px - 80px;
    padding: 0 40px;

    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .produce-flow__text {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.produce-flow__order {
  width: 192px;
  margin: 30px auto;
}

@media (min-width: @tablet-width) {
  .produce-flow__order {
    width: @tablet-width - 100px - 80px;
    margin: 45px auto;
  }
}

@media (min-width: @desktop-width) {
  .produce-flow__order {
    width: 100%;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 45px;
  }
}
