/* блок */

.site-nav {
  width: auto;
  margin: 0;
  padding: 0;

  background-color: #f9f9f9;

  position: relative;
}

@media (min-width: @tablet-width) {
  .site-nav::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 12px; //34px;

    z-index: 2;

    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='1150px' height='34px' viewBox='0 0 1150 34' enable-background='new 0 0 1150 34' xml:space='preserve'%3E%3Cpath fill='%23FFFFFF' d='M1121.252,0c-14.375,0-14.375,14-28.749,14s-14.374-14-28.748-14s-14.374,14-28.748,14 c-14.375,0-14.375-14-28.75-14c-14.374,0-14.374,14-28.748,14S963.135,0,948.761,0s-14.374,14-28.749,14S905.637,0,891.263,0 s-14.374,14-28.749,14s-14.375-14-28.75-14c-14.371,0-14.371,14-28.743,14c-14.375,0-14.375-14-28.75-14 c-14.372,0-14.372,14-28.744,14c-14.374,0-14.374-14-28.747-14s-14.373,14-28.747,14C675.66,14,675.66,0,661.287,0 c-14.374,0-14.374,14-28.748,14c-14.375,0-14.375-14-28.751-14c-14.374,0-14.374,14-28.748,14S560.666,0,546.292,0 s-14.374,14-28.748,14C503.17,14,503.17,0,488.796,0c-14.375,0-14.375,14-28.75,14C445.67,14,445.67,0,431.293,0 c-14.375,0-14.375,14-28.75,14c-14.375,0-14.375-14-28.751-14c-14.375,0-14.375,14-28.75,14S330.666,0,316.291,0 s-14.375,14-28.751,14c-14.376,0-14.376-14-28.753-14c-14.374,0-14.374,14-28.747,14c-14.375,0-14.375-14-28.75-14 c-14.375,0-14.375,14-28.751,14c-14.377,0-14.377-14-28.754-14c-14.377,0-14.377,14-28.755,14c-14.378,0-14.378-14-28.756-14 S71.896,14,57.518,14C43.139,14,43.139,0,28.759,0S14.38,14,0,14v20h1150V14C1135.626,14,1135.626,0,1121.252,0z'/%3E%3C/svg%3E%0A");
    background-repeat: repeat-x;
    background-size: cover;
  }
}

.site-nav__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0;

  background-color: #f9f9f9;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-position-x: 50%;
  background-position-y: -18px;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
    background-position-x: 50%;
    background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .site-nav__wrapper {
    width: @tablet-width - 100px;
    padding: 0 50px;

    background-image: url("../img/hero-tablet@1x.jpg");
    background-position-x: 50%;
    background-position-y: 0;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
      background-position-x: 50%;
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-nav__wrapper {
    width: @desktop-width - 100px;
    padding: 0 50px;

    background-image: url("../img/hero-desktop@1x.jpg");
    background-position-x: 50%;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: cover;
      background-position-x: 50%;
      background-repeat: no-repeat;
    }
  }
}

/* заголовок */

.site-nav__title {
  display: block;
  width: 260px;
  margin: 0 auto;
  padding: 0;
  padding-top: 70px;
  padding-bottom: 121px;

  text-align: center;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: @header-color;
}

@media (min-width: @tablet-width) {
  .site-nav__title {
    width: @tablet-width - 100px - (@tablet-width - 100px - 500px);
    padding: 0 ((@tablet-width - 100px - 500px) / 2);
    padding-top: 155px;
    padding-bottom: 373px;

    font-size: 43px;
    line-height: 50px;
  }

  .site-nav__title br {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .site-nav__title {
    width: @desktop-width - 100px - (@desktop-width - 100px - 620px);
    padding: 0 ((@desktop-width - 100px - 620px) / 2);
    padding-top: 175px;
    padding-bottom: 370px;

    font-size: 53px;
    line-height: 57px;
  }
}

/* меню */

.site-nav__list {
  display: flex;
  width: 320px;
  margin: 0 auto;
  padding: 0;
  flex-direction: column;

  background-color: #f9f9f9;

  list-style: none;
}

.site-nav__item-wrapper--interior {
  background-color: #63d1bb;
}

.site-nav__item-wrapper--toys {
  background-color: #56c3b2;
}

.site-nav__item {
  display: block;
  width: 320px;
  margin: 0;
  padding: 0;

  text-decoration: none;

  .site-nav__item-link {
    display: block;
    width: 130px;
    margin: 0;
    padding: 27px 0;
    padding-bottom: 28px;
    padding-left: 30px;
    padding-right: 160px;

    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;

    text-decoration: none;

    position: relative;
  }

  .site-nav__item-logo {
    fill: #149080;
    opacity: 0.5;

    position: absolute;
  }

  &:hover {
    transform: translateY(-5px);

    .site-nav__item-logo {
      opacity: 0.7;
    }
  }

  &:active {
    transform: translateY(0);

    .site-nav__item-link,
    .site-nav__item-logo {
      opacity: 0.3;
    }
  }
}

.site-nav__item--interior {
  background-color: #63d1bb;

  .site-nav__item-logo {
    right: 37px;
    top: 23px;
  }
}

.site-nav__item--toys {
  background-color: #56c3b2;

  .site-nav__item-logo {
    right: 27px;
    top: 21px;
  }
}

@media (min-width: @tablet-width) {
  .site-nav__list {
    width: 668px;

    flex-direction: row;
    flex-wrap: wrap;
  }

  .site-nav__item {
    width: 334px;

    .site-nav__item-link {
      width: 132px;
      margin: 0;
      padding: 35px;
      padding-top: 29px;
      padding-right: 167px;

      font-family: "OpenSans", "Arial", sans-serif;
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      color: #ffffff;
    }
  }

  .site-nav__item--interior {
    background-color: #63d1bb;

    .site-nav__item-logo {
      right: 36px;
      top: 30px;
    }
  }

  .site-nav__item--toys {
    background-color: #56c3b2;

    .site-nav__item-logo {
      right: 34px;
      top: 30px;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-nav__list {
    width: 1050px;
  }

  .site-nav__item {
    width: 525px;

    .site-nav__item-link {
      width: 140px;
      padding-right: 350px;
    }
  }
}
