.social {
  display: block;
  width: 260px;
  margin: 0;
  padding: 0 30px;

  text-align: center;

  background-color: @background-color-footer;
}

@media (min-width: @tablet-width) {
  .social {
    width: auto;
  }
}

.social__list {
  display: flex;
  width: 145px;
  margin: 0 auto;
  padding: 25px 0;
  justify-content: space-between;
  align-items: center;

  background-color: @background-color-footer;

  list-style: none;
}

.social__item {
  display: block;
  margin: 0;
  padding: 0;
}

.social__link {
  display: block;
  margin: 0;
  padding: 0;

  line-height: 0;

  text-decoration: none;

  & svg {
    fill: #231f20;
  }

  &:hover svg {
    fill: #46c1ae;
  }

  &:active svg {
    fill: #46c1ae;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .social__list {
    padding-top: 28px;
  }
}
